<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->

    <meta name="author" content="E. (Zand Vor) Boaen">

    <title>The Role Initiative Scheduling Tool</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="style-mobile.css" rel="stylesheet">
</head>
<body>
  <main>
  	<nav class="navbar navbar-expand-sm navbar-warning bg-warning">
  		<a class="navbar-brand mb-0 h2">Welcome to The Role Initiative Scheduling Tool</a>
  	</nav>
    <div class="container"><!-- Introduction -->
      <div class="jumbotron">
        <p class="lead text-left">Hello {{ name }}</p>
        {% if tteconvention_data is defined %}
          <p class='text-center'> You are working on {{ tteconvention_data.result['name'] }} </p>
        {% else %}
          <p class='text-center'> Please select a convention below </p>
        {% endif %}
      </div>
    </div> <!-- /container -->
    <div class="container"> <!-- Select a convention to work on -->
        <div class="jumbotron">
          <form id="form1" action="/conventions" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <div class="form-group">
                {{ conform.selectcon }}
              </div>
              <div class="input submit">
                {{ conform.consubmit}}
              </div>
            </input>
          </form>
        </div><!-- /jumbotron -->
    </div> <!-- /container -->
    {% if tteconvention_data is defined %}
    <div class="container"> <!-- Import Volunteers -->
      <div class="jumbotron">
        <form action="" method="post" role="form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <label form="sel1">Select a File to use:</label>
          <div class="form-group">
            {{ fileform.selectfile }}
          </div>
          <div class="input submit">
            <p></p>

            <p></p>
            {{ fileform.conventionsave }}
            {{ fileform.eventsave }}

            <p>Download a report on all volunteers: {{ fileform.volunteerreport }}</p>
            <p>Download a CSV on all volunteers: {{ fileform.volunteercsv }}</p>
            <p>Download a CSV on all events: {{ fileform.eventcsv }}</p>
            <p>The following buttons are DESTRUCTIVE!  Do not use unless last resort</p>
            {{ fileform.eventsdelete }}
            {{ fileform.shiftsdelete }}
            {{ fileform.daypartsdelete }}
            {{ fileform.roomsandtablesdelete }}
          </div>
        </form>
      </div><!-- /jumbotron -->
    </div> <!-- /container -->
    <div class="container">
      <div class="jumbotron">
        <form action="" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input text">
              <p>{{ updateconform.name.label }} {{ updateconform.name }}</p>
              <p>{{ updateconform.location.label }} {{ updateconform.location }}</p>
              <p>{{ updateconform.phone_number.label }} {{ updateconform.phone_number }}</p>
              <p>{{ updateconform.email.label }} {{ updateconform.email }}</p>
              <p>{{ updateconform.description.label }}</p>
              <p>{{ updateconform.description(cols="100", rows="40") }}</p>
              <p>{{ updateconform.dates.label }}</p>
              <p>{{ updateconform.dates(cols="20", rows="5") }}</p>
              <p>{{ updateconform.conventionsubmit }}</p>
            </div>
        </form>
      </div><!-- /jumbotron -->
    </div> <!-- /container -->
    {% endif %}
    {% if tteconvention_data is defined %}
      <div class="container">
        <div class="jumbotron">
          <p class='text-center'> Here is a list of Slots for {{ tteconvention_data.result['name'] }} </p>
          <table class="table-bordered table-sm">
            <tr>
              <th scope="col">Slot</th>
              <th scope="col">Slot Day</th>
              <th scope="col">Slot Time</th>
              <th scope="col">Slot Duration</th>
            </tr>
            {% for shift in tteconvention_data.shifts|sort(attribute='start_time') %}
              <tr>
                <td>{{ shift.name }}</td>
                <td>{{ shift.day }}</td>
                <td>{{ shift.times_range }}</td>
                <td>{{ shift.duration_in_hours }}</td>
              </tr>
            {% endfor %}
          </table>
          <p></p>
          <form action="" method="post" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <label form="sel1">Create a new slot</label>
              <div class="form-group">
                <p>{{ slotform.slotname.label }} {{ slotform.slotname }}</p>
                <p>{{ slotform.slotstarttime.label }} {{ slotform.slotstarttime }}</p>
                <p>{{ slotform.slotlength.label }} {{ slotform.slotlength }}</p>
                <p>{{ slotform.slotsubmit }}</p>
              </div>
          </form>
        </div>
      </div>
      <div class="container-fluid">
        <p class='text-center'> Here is a list of volunteers for {{ tteconvention_data.result['name'] }} </p>
        <table class="table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Location</th>
              <th scope="col">Pronouns</th>
              <th scope="col">Role</th>
              <th scope="col">Level</th>
              <th scope="col">Tiers</th>
              <th scope="col">T-Shirt Size</th>
              <th scope="col">Emergency Contact</th>
              <th scope="col">Experience</th>
              <th scope="col">Source</th>
              <th scope="col">Comments</th>
              <th scope="col">Possible Slots</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for volunteer in tteconvention_data.volunteers|sort(attribute='lastname') %}
              <tr>
                <td>{{ volunteer.name }}</td>
                <td>{{ volunteer.email_address }}</td>
                <td>{{ volunteer.phone_number }}</td>
                <td>{{ volunteer.custom_fields.volunteerlocation }}</td>
                <td>{{ volunteer.custom_fields.volunteerpronouns }}</td>
                <td>{{ volunteer.custom_fields.volunteerrole }}</td>
                <td>{{ volunteer.custom_fields.volunteerlevel }}</td>
                <td>{{ volunteer.custom_fields.volunteertiers }}</td>
                <td>{{ volunteer.custom_fields.volunteershirtsize }}</td>
                <td>{{ volunteer.custom_fields.volunteeremergencycontact }}</td>
                <td>{{ volunteer.custom_fields.volunteerexperience }}</td>
                <td>{{ volunteer.custom_fields.volunteersource }}</td>
                <td>{{ volunteer.custom_fields.volunteerother }}</td>
                <form action="" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="volunteer_id" value="{{ volunteer.id }}"/>
                  <div class="input text">
                    <td>{{ fileform.volunteerdelete }}</td>
                  </div>
                </form>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> <!-- /container -->
      {% endif %}
</main>

<footer class="container">
  <p class="lead text-left"><a href="{{ url_for('index') }}">Return</a></p>
	<a>DEBUGGING</a>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
