<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="E. (Zand Vor) Boaen">

    <title>The Role Initiative Scheduling Tool</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <main>
  	<nav class="navbar navbar-expand-sm navbar-warning bg-warning">
  		<a class="navbar-brand mb-0 h2">Welcome to The Role Initiative Scheduling Tool</a>
  	</nav>
    <div class="container"><!-- Introduction -->
      <main role="main">
        <div class="jumbotron">
          <div class ="media">
            <div class="media-body" >
              <p class="lead text-left">Hello {{ name }}</p>
              {% if tteconvention_data is defined %}
                <p class='text-center'> You are working on {{ tteconvention_data.result['name'] }} </p>
              {% else %}
                <p class='text-center'> Please select a convention below </p>
              {% endif %}
            </div>
          </div>
        </div>
      </main>
    </div> <!-- /container -->
    <div class="container"> <!-- Select a convention to work on -->
      <main role="main">
        <div class="jumbotron">
          <div class ="media">
            <div class="container">
              <form id="form1" action="/conventions" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <div class="form-group">
                    {{ conform.selectcon }}
                  </div>
                  <div class="input submit">
                    {{ conform.consubmit}}
                  </div>
                </input>
              </form>
            </div><!-- /container -->
          </div><!-- /media -->
        </div><!-- /jumbotron -->
      </main>
    </div> <!-- /container -->
    {% if tteconvention_data is defined %}
    <div class="container"> <!-- Import Volunteers -->
      <div class ="main">
        <div class="jumbotron">
          <div class ="media">
            <div class="container">
              <form action="" method="post" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label form="sel1">Select a File to use:</label>
                <div class="form-group">
                  {{ fileform.selectfile }}
                </div>
                <div class="input submit">
                  {{ fileform.volunteersave }}
                  {{ fileform.conventionsave }}
                  {{ fileform.eventsave }}
                  {{ fileform.volunteerreport }}
                  <p></p>
                  {{ fileform.eventsdelete }}
                  {{ fileform.shiftsdelete }}
                  {{ fileform.daypartsdelete }}
                  {{ fileform.roomsandtablesdelete }}
                </div>
              </form>
            </div> <!-- /container -->
          </div><!-- /media -->
        </div><!-- /jumbotron -->
      </div><!-- main -->
    </div> <!-- /container -->
    <div class="jumbotron">
        <div class ="main">
          <div class="container"> <!-- Select a convention to work on -->
            <div class="jumbotron">
              <div class ="media">
                <div class="container">
                  <form action="" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <div class="input text">
                        <p>{{ updateconform.name.label }} {{ updateconform.name }}</p>
                        <p>{{ updateconform.location.label }} {{ updateconform.location }}</p>
                        <p>{{ updateconform.phone_number.label }} {{ updateconform.phone_number }}</p>
                        <p>{{ updateconform.email.label }} {{ updateconform.email }}</p>
                        <p>{{ updateconform.description.label }}</p>
                        <p>{{ updateconform.description(cols="100", rows="40") }}</p>
                        <p>{{ updateconform.dates.label }}</p>
                        <p>{{ updateconform.dates(cols="20", rows="5") }}</p>
                        <p>{{ updateconform.conventionsubmit }}</p>
                      </div>
                  </form>
                </div><!-- /container -->
              </div><!-- /media -->
            </div><!-- /jumbotron -->
          </div> <!-- /container -->
      </div><!-- /media -->
    </div><!-- /jumbotron -->
    {% endif %}
</main>
<footer class="container">
  <p class="lead text-left"><a href="{{ url_for('index') }}">Return</a></p>
	<a>DEBUGGING</a>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
